<a href="https://colab.research.google.com/github/universeatmyfeet/NLP/blob/master/Homework/NLP_5th_Dec_HW_assignment_1_J051.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
db = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines = True)#reading gz file from url
db

In [0]:
db['reviewText'] = db['reviewText'].str.lower()#all characters become lower-cased
db['summary'] = db['summary'].str.lower()

In [0]:
def counting_words(text):
  word_list = text.split() #returns list of strings with characters as elements
  total_words = len(text.split())# total words in the string
  # Initializing Dictionary
  d = {'total_count' : total_words}
  # counting number of times each word comes up in list of words (in dictionary)
  for word in word_list: 
     d[word] = d.get(word, 0) + 1 # adding entry to the dictionary , with key as 'word' and value : (default value for initial entry to dictionary = 0) + 1 = 1 
     # value gets incremented if the word occurs again
  return d

In [0]:
db['reviewText_wordcount'] = db.apply(lambda row : counting_words(row['reviewText']), axis = 1) 
# apply() function in order to apply count_words function to every row of the column
db['summary_wordcount'] = db.apply(lambda row : counting_words(row['summary']), axis = 1)

In [0]:
db

           reviewerID  ...                                  summary_wordcount
0      A32T2H8150OJLU  ...  {'total_count': 7, 'a': 1, 'solid': 1, 'perfor...
1      A3MAFS04ZABRGO  ...  {'total_count': 13, 'price': 1, 'of': 1, 'gold...
2      A1F1A0QQP2XVH5  ...  {'total_count': 8, 'good': 1, 'functionality,'...
3       A49R5DBXXQDE5  ...  {'total_count': 9, 'one': 1, 'of': 2, 'the': 1...
4      A2XRMQA6PJ5ZJ8  ...  {'total_count': 3, 'still': 1, 'the': 1, 'best...
...               ...  ...                                                ...
53253  A1ODOGXEYECQQ8  ...  {'total_count': 6, 'portable': 1, 'and': 1, 'v...
53254  A2XX2A4OJCDNLZ  ...  {'total_count': 17, 'accuteck': 1, 'shippro': ...
53255  A3LGT6UZL99IW1  ...  {'total_count': 5, 'extremely': 1, 'accurate,'...
53256  A1XJOSJN6FHFO0  ...  {'total_count': 4, 'fast,': 1, 'easy': 1, 'and...
53257   AAEVGE52KL0DJ  ...  {'total_count': 7, 'great': 1, 'value': 1, 'on...

[53258 rows x 11 columns]